RewriteEngine On

# Handle Angular and Vue.js Router

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.\*)$ index.php [QSA,L]

# Increase PHP memory limit

php_value memory_limit 512M
php_value max_execution_time 300
php_value max_input_vars 3000
